.list {
    list-style: none;
    position: relative;
}

.box {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.box:nth-child(2) {
    background-color: bisque;
    top: 60px;
    left: 90px;
    z-index: 1;
}

.box:nth-child(3) {
    background-color: rgb(245, 191, 125);
    top: 120px;
    left: 150px;
}